.Container{
   
    display: flex;
    justify-content: center;

    .registerContainer {
        width: 300px;
        display: flex;
        flex-direction: column;
        gap: 10px; 
        
        h1 {
            color: blue;
            align-self: center;
        }          
       
        form {
            display: flex;
            flex-direction: column;
            gap:10px;

            input {
                padding: 10px;
                border: 1px solid gray;
                border-radius: 10px;             
            }

            .buttons{
                display: flex;
                justify-content: center;
                gap: 10px;
                height: 40px;         
                
                button {
                    cursor: pointer;
                    width: 50%;
                    padding: 5px 10px;
                    color: white;
                    border-radius: 5px;
                    border: none;
                    font-weight: 500; 
                    background-color: #003580;             
    
                }
        }      

            // .register{
            //     background-color: #003580;//rgb(2, 92, 2);                        
            // }
            // .cancel{
            //     background-color: #003580;//rgb(226, 113, 7);
              
            // }
        }
        
    }

    
}