<div class="mCardContainer">
    <img src="{{this.member.photoUrl || './assets/user.png'}}" alt="">
    <div class="user">
        <span>{{this.member.knowsAs}}, {{this.member.age}}</span>
        <fa-icon [icon]="faUser" class="icon"></fa-icon>
    </div>
    <p>{{this.member.city}}</p>
    <div class="buttons">
        <fa-icon [icon]="faUser" class="icon" routerLink='/members/{{member.username}}'></fa-icon>
        <fa-icon (click)="Like(this.member)" [icon]="faHeart" class="icon"></fa-icon>
        <fa-icon [icon]="faEnvelope" class="icon" routerLink='/members/{{member.username}}' [queryParams]='{tab: 3}'></fa-icon>
    </div>   
</div>
