.mCardContainer {
    position: relative;
    border: 1px solid gray;
    border-radius: 5px;
    overflow: hidden;   
    //background-color: rgb(215, 39, 221);
    img {
       height: 300px;
       transition: all .5s;
       scale: 0.70;
       border-radius: 4px; 
    }

    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: center;

    .user {
       display: flex;
       justify-content: center;
       align-items: start;      
       width: 100%;
       gap: 10px;
       
       span {
        font-weight: 500;
       }
    }

    .buttons{
        position: absolute;
        top: 80%;
        display: flex;
        width: 80%;
        justify-content: space-around;
        transition: all .5s;
        opacity: 0;

        .icon{  
            cursor: pointer;        
            display: flex;
            justify-content: center;
            align-items: center;
            font-size: 25px;
            width: 50px;
            height: 50px;
            border-radius: 5px;
            //background-color: rgb(225, 65, 217);   
            background-color:#003580;
            color: white;         
        }     
    }

    &:hover {
         overflow: hidden;
        .buttons {
            top: 60%;
            opacity: 1;

        }
        
        img {
            scale: 0.90;                 
        };
    }

    
}