.navbar {
    height: 75px;
    background-color: #003580;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;   
}

.navContainer{
    width: 100%;
    max-width:  90%; 
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.navItems {
    display: flex;
}

.links{
    display: flex;
    margin: 0;
    justify-items: stretch;
    list-style-type: none;
    gap: 40px;
}

.link-item{
    display: flex;
    cursor: pointer;
    position: relative;
    
    .icon {
        position: absolute;
        top:-5px;
        right:-15px;
        font-size: 12px;
    }
}

.logo{
    font-weight: 600;
}

.navButton{
    margin-right: 20px;
    border: none;
    padding: 10px 15px;
    cursor: pointer;
    color: #003580;
    border-radius: 5px;
}

.logout{
    display: flex;
}

.inputLogins {
  margin : 0 5px 0 5px;
  border: none;
  padding: 10px 15px;
  border-radius: 5px;

  &:focus{
    outline: none;
  }
}

.wellComeUser {
    display: flex;
    gap:50px;
    & a {
        color: white;
        text-decoration: none;
    }
    
    .User{
        display: flex;
        justify-items: stretch;
        position: relative;
        
        .icon {
            position: absolute;
            top:-5px;
            right:-15px;
            font-size: 12px;
        }
    }

    .loginButtons{
        display: flex;
        gap: 50px;

        .settings{
            position: relative;
        
            .icon {
                position: absolute;
                top:-5px;
                right:-15px;
                font-size: 12px;
            }
        }

        .logout {
            position: relative;
        
            .icon {
                position: absolute;
                top:-5px;
                right:-15px;
                font-size: 12px;
            }
        }
    }
    
}





