<div class="navbar">
    <div class="navContainer">
        <div class="navItems">
            <div class="logo">DatingLogo</div>
            <div class="navLink">
                <ul class="links" *ngIf="authService.currentUser$ | async">
                    <li class="link-item">
                        <fa-icon [icon]="faHeartCircleCheck" class="icon"></fa-icon>
                        <span>Matches</span>
                    </li>
                    <li class="link-item">
                        <fa-icon [icon]="faList" class="icon"></fa-icon>
                        <span>Lists</span>
                    </li>
                    <li class="link-item">
                        <fa-icon [icon]="faMessage" class="icon"></fa-icon>
                        <span>Messages</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="navButtons">
            <div class="logout" *ngIf="!(authService.currentUser$ | async)">
                <form #loginForm="ngForm" (ngSubmit)="login()">
                    <input class="inputLogins" type="text" name="username" placeholder="username"
                        [(ngModel)]="logins.username" required>
                    <input class="inputLogins" type="password" name="password" placeholder="password"
                        [(ngModel)]="logins.password" required>
                    <button [disabled]="!loginForm.valid" class="navButton">Login</button>
                </form>               
            </div>
            <div class="wellComeUser" *ngIf="authService.currentUser$ | async as user">
                <div class="User">
                    <a href="">Welcome {{user.username}}</a>
                    <fa-icon [icon]="faUser" class="icon"></fa-icon>                    
                </div>
                <div class="loginButtons">
                    <div class="settings">
                        <a href="">Edit Profile</a>
                        <fa-icon [icon]="faGear" class="icon"></fa-icon>                    
                    </div>  
                    <div class="logout">
                        <a href="" (click)="logout()">Logout</a>
                        <fa-icon [icon]="faRightFromBracket" class="icon"></fa-icon>                    
                    </div>
                </div>                              
            </div>
        </div>
    </div>
</div>
