<div class="navbar">
    <div class="navContainer">
        <div class="navItems">
            <div class="logo">DatingLogo</div>
            <div class="navLink">
                <ul class="link">
                   <li class="link-item">Matches</li>
                   <li class="link-item">Lists</li>
                   <li class="link-item">Messages</li>
                </ul>
            </div>
        </div>        
        <div class="navButtons">
            <input class="inputLogins" type="text" placeholder="username">
            <input class="inputLogins" type="password" placeholder="password">
            <button class="navButton">Login</button>
            <button class="navButton">Register</button>            
        </div>
    </div>
</div>
